<nav class="navbar navbar-expand-md bg-dark navbar-dark m-0">
    <a class="navbar-brand" href="/">ERC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/preaching">Preaching</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Programmes</a>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-md-7 col-sm-12 col-lg-8">
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/the-heart-of-worship.jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Prayer</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (18).jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (16).jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/yvan4.jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Yvan</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/yvan3.jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Child <small>Prayers</small></h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (18).jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (16).jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/yvan4.jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Yvan</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/the-heart-of-worship.jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Prayer</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (18).jpg" alt="" class="card-img-top img-fluid">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/maxresdefault (14).jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Marcelo</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3 col-sm-12 p-2">
                                <div class="card">
                                    <img src="/assets/images/erc/yvan3.jpg" alt="" class="card-img-top">
                                    <div class="card-body">
                                        <h3>Yvan</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

        </div>
    </div>
    <div class="col-md-5 col-lg-4 col-md-12">
        <div class="card m-2">
            <div class="card-body">
                <h3 class="text-center">Welcome</h3>
                <p>
                    Welcome to Restoration Church Goma
                </p>
                <small>
                    Today we are waiting for you to join us
                </small>
                <a href="/users/login" class="btn btn-sm btn-primary btn-block d-flex justify-content-between align-items-center">Join us
                    <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row bg-warning p-5">
    <div class="col-md-7 col-sm-12 col-lg-7 bg-white p-3 text-center align-items-center">
        <h3 class="mt-5 display-4 text-center">This Sunday</h3>
        <p>
            We will have the man of God cames from France,
        </p>
        <p class="display-4">
            Yvan Cast..
        </p>
    </div>
    <div class="col-lg-5 col-md-5 col-sm-12 p-3 bg-light align-items-center">
        <img src="/assets/images/erc/yvan.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="row p-3 bg-warning">
    <div class="col-md-6 p-2 bg-light">
        <h3 class="text-center display-4">Prayer</h3>
        <p class="display-5">
            The prayer saved, you have to pray for your neighbors, brothers, husband, wife, even to your country why not for our neighbor countries of africa, or for all over the wolrd
        </p>
    </div>
    <div class="col-md-6 p-2 bg-light">
        <img src="/assets/images/erc/worship-group.jpg" alt="" class="img-fluid">
    </div>
</div>

<div class="row bg-secondary p-5">
    <div class="col-md-9 col-sm-12 text-light">
        <img src="/assets/images/contact.jpg" alt="Contact us" class="img-fluid">
    </div>
    <div class="col-md-3 pr-2 col-lg-3 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h3 class="display-5 text-warning text-center">Contact Us</h3>
                <%- include('./partials/messages')%>
                    <form action="/request" method="post">
                        <label for="email">Email</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-send"></i></span>
                            </div>
                            <input type="email" id="email" name="email" value="<%= typeof email != 'undefined' ? email: '' %>" class="form-control" placeholder="Email@example.com">
                        </div>
                        <label for="message">Message</label>
                        <textarea name="message" id="message" value="<%= typeof message != 'undefined' ? message: '' %>" class="form-control" placeholder="Enter your request..."></textarea>
                        <div class="form-group mt-2">
                            <button type="submit" class="btn btn-sm btn-success">Send <i class="fa fa-send"></i></button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</div>

<div class="row p-5 justify-content-center">
    <div class="col-md-6 col-sm-12">
        <h3 class="display-">List of Members</h3>
        <div class="list-group">
            <% for(cbs of cb){ %>
                <a href="/users/api/<%= cbs._id %>" class="list-group-item list-group-action">
                    <%= cbs.email %>
                        <small><%= cbs.email %></small>
                </a>
                <% } %>
        </div>
    </div>
</div>